<!DOCTYPE html>
  <html lang="en">
    <body class="container">
      <main>
        <div class="jumbotron">
          <h1>Hate mail</h1>
          <p>For all your hostile communication needs</p>
        </div>
      </main>
    </body>
</html>